<div class="row">
    <div class="col-md-3">
        <img [src]="data.avatar" class="profile-img">
    </div>
    <div class="col-md-8">
        <div class="row">
            <form class="form">
                <div class="form-group top-margin">
                    <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="data.first_name" class="form-control">
                </div>
                <div class="form-group top-margin">
                    <input type="text" name="lastName" placeholder="First Name" [(ngModel)]="data.last_name" class="form-control">
                </div>
                <div class="form-group top-margin">
                    <input type="text" name="email" placeholder="First Name" [(ngModel)]="data.email" class="form-control">
                </div>
                <div class="form-group top-margin right">
                    <button type="submit" class="btn btn-primary btn-full">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>